{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hello, my name is Hasan Berke Ozturk. I am a fresh graduate from
            Kocaeli University Mechatronics Engineering, and this is my blog website.
        </p>
        <p>
          It is great to see you here in my place. Feel like home, read or write some blogs,
            and improve the content quality.
        </p>
        <p>
          If you have any questions, please <a href="{{ url_for('contact') }}">contact me</a>, and we will reach out to you
            as soon as possible!
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
